html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

a {
 
  color: black;
  text-decoration: none;
}

.box {
  border: 1px solid black;
  padding: 4px;
  margin: 3%;
  background-color: #D9D9D9;
  
}

 .box:hover {
  background-color: rgb(173, 173, 247);
  margin-right: 6%;
  padding: 2px 4px;
  border: 1px olid rgb(173, 173, 247);
  border-radius: 5px;
}

.card-img-top{
  border-radius: 50%;
  height: 250px !important;
  width: 250px !important;
  position: relative;
  left: 80px;
  top: -80px;
  object-fit: cover;
}
.card{
  border-radius: 0;
  cursor: pointer;
  margin-top: 100px !important;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-body{
  margin-top: -50px;
}

.bi{
  font-size: 25px;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

.foot {
  background: #C2BEBE;
}

@media only screen and (max-width: 600px) {
  .card-img-top{
      
      left: 48px !important;
     
  }
}

