{% extends "base.html" %}

{% block title %}
<title>IndispensableMe</title>
{% endblock %}

{% block content %}

<section class="d-flex flex-column min-vh-100 jusitfy-content-center align-items-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 mx-auto rounded shadow bg-white">
              
              <!-- <div class="row my-4">
                  <div class="col-md-10 ">
                      <span>Indispens</span><span class="text-danger">able</span><span>ME</span>
                  </div>
                  <div class="col-md-2 login";>
                      <span>Login</span>
                  </div>
              </div> -->
          
              <div class="row">

                  <div class="col-md-6">
                      <div class="row my-4">
                          <div class="col-md-10 ">
                              <a href="{{ url_for('index') }}" style="text-decoration: none;"> <span>Indispens</span><span class="text-danger">able</span><span>ME</span></a>
                          </div>
                          
                      </div>
                      <h3 class="text-center text-success"> Please enter your email</h3>
                      <form action="{{ url_for('users.forgot_password') }}" class="m-5 top">
                          
                          <div class="row">
                              <div class="col-md-1">
                                  <i class="fa fa-envelope"></i>
                              </div>
                              <div class="col-md-10">
                                  <input  class="form-control" name="email" type="email" id="user_email" placeholder="Enter email here...">   
                              </div>
                          </div>

                          

                        <div class="text-center">
                            <input type="submit"  class="btn btn-primary mt-3 mx-auto text-center">
                        </div>
                
                      </form>
                  </div>
                  <div class="col-md-6  " >
                      <img src="{{ url_for('static', filename='img/im1.PNG') }}" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}