<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IndispensableMe</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
  <body>
    <section class="d-flex flex-column min-vh-100 jusitfy-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto rounded shadow bg-white">
                    
                    <!-- <div class="row my-4">
                        <div class="col-md-10 ">
                            <span>Indispens</span><span class="text-danger">able</span><span>ME</span>
                        </div>
                        <div class="col-md-2 login";>
                            <span>Login</span>
                        </div>
                    </div> -->
                
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row my-4">
                                <div class="col-md-10 ">
                                    <a href="../templates/index.html" style="text-decoration: none;"> <span>Indispens</span><span class="text-danger">able</span><span>ME</span></a>
                                </div>
                                <div class="col-md-2 login";>
                                    <a href="register.html" style="text-decoration: none;"><span>Register</span></a>
                                </div>
                            </div>
                            <h3 class="text-center text-success"> Login</h3>
                            <form action="" class="m-5 top">
                                
                                <div class="row">
                                    <div class="col-md-1">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <input  class="form-control" type="email" id="user_email" placeholder="Enter email...">   
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">
                                        <i class="fa fa-key"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <input  class="form-control" type="password" id="user_password" placeholder="Enter password">   
                                    </div>
                                </div>

                                <div class="mb-3 box_1">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="remember me">
                                            <label for="remember-me" class="form-check-label">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-end">
                                            <a href="#">Forgot password?</a>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <input type="submit" class="btn btn-primary mt-3 mx-auto text-center">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6  " >
                            <img src="../static/img/im1.PNG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
